html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 500px;
    height: 500px;
    background-image: url(http://www.moonhighway.com/class/assets/img/blackrock.jpg);
    background-size: cover;
    display: flex;
}

ul.dissolve-effect {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex-basis: 100%;
}

ul.dissolve-effect li {
    margin: 0;
    padding: 0;

    border-right: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    background-image: url(http://www.moonhighway.com/class/assets/img/half-dome.jpg);
    background-size: 200% 700%;
    flex-basis: calc(50% - 1.1px);
    animation: fadeOut 1.5s forwards;
}
ul.dissolve-effect li:nth-child(1) {
    background-position: 0 0;
    animation-delay: 0.25s;
}
ul.dissolve-effect li:nth-child(2) {
    background-position: 100% 0;
    animation-delay: 0.5s;
}
ul.dissolve-effect li:nth-child(3) {
    background-position: 0 16.66667%;
    animation-delay: 0.75s;
}
ul.dissolve-effect li:nth-child(4) {
    background-position: 100% 16.66667%;
    animation-delay: 1s;
}
ul.dissolve-effect li:nth-child(5) {
    background-position: 0 33.33333%;
    animation-delay: 1.25s;
}
ul.dissolve-effect li:nth-child(6) {
    background-position: 100% 33.33333%;
    animation-delay: 1.5s;
}
ul.dissolve-effect li:nth-child(7) {
    background-position: 0 50%;
    animation-delay: 1.75s;
}
ul.dissolve-effect li:nth-child(8) {
    background-position: 100% 50%;
    animation-delay: 2s;
}
ul.dissolve-effect li:nth-child(9) {
    background-position: 0 66.66667%;
    animation-delay: 2.25s;
}
ul.dissolve-effect li:nth-child(10) {
    background-position: 100% 66.66667%;
    animation-delay: 2.5s;
}
ul.dissolve-effect li:nth-child(11) {
    background-position: 0 83.33333%;
    animation-delay: 2.75s;
}
ul.dissolve-effect li:nth-child(12) {
    background-position: 100% 83.33333%;
    animation-delay: 3s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    to {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}